<section class="block container">
    <header class="block__header">
        <h2>Host on the cloud to Keep growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, aliquam!</p>
    </header>
    <artical class="grid grid--1x2 feature">
        <div class="feature__contant">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ratione laboriosam quibusdam delectus
                optio soluta. Dolores odio consectetur minus temporibus.
            </p>
            <a href="#" class='link-arrow'>Learn more</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/easy@2x.webp 1x" />
            <source type="image/jpg" srcset="images/easy@2x.jpg 1x" />
            <img class="feature__image" src="images/easy@2x.jpg" alt="">
        </picture>
    </artical>


    <artical class="grid grid--1x2 feature">
        <div class="feature__contant">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Website</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ratione laboriosam quibusdam delectus
                optio soluta. Dolores odio consectetur minus temporibus.
            </p>
            <a href="#" class='link-arrow'>Learn more</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/fast@2x.webp 1x" />
            <source type="image/jpg" srcset="images/fast@2x.jpg 1x" />
            <img class="feature__image" src="images/fast@2x.jpg" alt="">
        </picture>
    </artical>


    <artical class="grid grid--1x2 feature">
        <div class="feature__contant">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#wordpress"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Wordpress Made Easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ratione laboriosam quibusdam delectus
                optio soluta. Dolores odio consectetur minus temporibus.
            </p>
            <a href="#" class='link-arrow'>Learn more</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/wordpress@2x.webp 1x" />
            <source type="image/jpg" srcset="images/wordpress@2x.jpg 1x" />
            <img class="feature__image" src="images/wordpress@2x.jpg" alt="">
        </picture>
    </artical>
</section>